:root {
  /*========== Colors ==========*/
  --primary-color: #1779e7;
  --primary-color-alt: #115fb8;

  --input-focus-color: #7dafe7;

  --text-color: #686868;
}

.paper {
  color: var(--text-color) !important;
}

.container {
  display: flex;
  color: #686868;
}

.link {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  width: 80%;
  position: relative;
}

.increaseWidth {
  width: 92.5%;
  position: relative;
}

.sidebarMainCon {
  flex: 1;
  position: relative;
}
